<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selecciona tu Zona - ECO Culiacán</title>
    <link rel="stylesheet" href="/css/style.css">
    <style>
        .map-container {
            width: 100%;
            max-width: 800px; /* Ajusta según necesites */
            height: 400px; /* Ajusta la altura del mapa */
            margin: 20px auto;
            border: 1px solid #ccc;
        }
    </style>
</head>
<body>
    <header>
        <div class="logo">
            <a href="/"><img src="/images/ECO.png" alt="Logo ECO Culiacán"><span>Culiacán</span></a>
        </div>
    </header>

    <main class="map-selection-container">
        <h1>Selecciona la zona de recolección:</h1>
        <div class="map-container">
            <iframe src="https://www.tiktok.com/discover/%D0%BA%D0%B0%D1%80%D1%82%D0%B0-%D1%83%D0%BD%D0%BE-%D0%B1%D0%BE%D0%B3%D0%B0-%D0%BE%D1%82-%D0%B2%D1%81%D0%B5%D0%B3%D0%BE" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        <button class="primary-btn">Aceptar</button>
    </main>

    <footer>
        <p>Menos basura, más futuro</p>
        <p><a href="https://ECOCuliacan.com.mx/" target="_blank">ECOCuliacan.com.mx</a></p>
        <div class="social-icons">
            <a href="#"><img src="/images/facebook.png" alt="Facebook"></a>
            <a href="#"><img src="/images/twitter.png" alt="Twitter"></a>
            <a href="#"><img src="/images/ig.png" alt="Instagram"></a>
        </div>
    </footer>

    <script src="/js/script.js"></script>
    </body>
</html>